/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #3B3D4F;
  font-size: 1rem;
  line-height: 1.625rem;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #E4E4E8;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #E4E4E8;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

input:not([type=submit]) {
  padding: 30px;
  width: 100%;
  border:none;
  border-bottom: 2px #1A1D38 solid;
  outline: none !important;
  color:#1A1D38;
}

input:focus{
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #D1D1DA;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #D1D1DA;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #D1D1DA;
}

.btn {
  padding: 10px 40px;
  height: 60px;
  border-radius: 30px;
  outline: none;
  border:none;
  text-decoration: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 2.15;
  margin: 0;
  display: inline-block;
}
.btn:hover {
  text-decoration: none;
  cursor: pointer;
}
.btn.primary {
  background-color: #FF2E63;
  color:#fff;
  box-shadow: 0 8px 30px -2px rgba(255, 46, 99, 0.5);
}

.text-primary {
  color:#FF2E63;
}

header {
  min-height: 80px;
}
header img {
  height:32px;
  margin-top:16px;
  margin-bottom:16px;
}
header a {
  margin-left:20px;
}
header p {
  margin:0;
  line-height: 64px;
  display: inline-block;
}

section {
  height:130vh;
  overflow: hidden;
}

.hero {
  min-height: calc(100vh - 80px);
}
.hero h1 {
  margin-top:1.83em;
  font-size: 3.5rem;
  line-height: 3.75rem;
  max-width: 600px;
}
.hero p {
  font-size: 1.5rem;
  max-width: 600px;
}
.hero .action-area {
  margin-top:64px;
}

.float-up-down {
  -webkit-animation: FLOATUPDOWN 2s infinite; /* Safari 4+ */
  -moz-animation:    FLOATUPDOWN 2s infinite; /* Fx 5+ */
  -o-animation:      FLOATUPDOWN 2s infinite; /* Opera 12+ */
  animation:         FLOATUPDOWN 2s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes FLOATUPDOWN {
  0%   { transform: translateY(-5px); }
  70%   { transform: translateY(5px); }
  100% { transform: translateY(-5px); }
}
@-moz-keyframes FLOATUPDOWN {
  0%   { transform: translateY(-5px); }
  70%   { transform: translateY(5px); }
  100% { transform: translateY(-5px); }
}
@-o-keyframes FLOATUPDOWN {
  0%   { transform: translateY(-5px); }
  70%   { transform: translateY(5px); }
  100% { transform: translateY(-5px); }
}
@keyframes FLOATUPDOWN {
  0%   { transform: translateY(-5px); }
  70%   { transform: translateY(5px); }
  100% { transform: translateY(-5px); }
}

.panel .content {
  margin-top:200px !important;
}
.panel .content a {
  margin-top:40px;
}

footer {
  position: relative;
  z-index: 100;
  padding-top:58px;
  border-top:1px solid #D1D2D7;
}
footer p {
  font-size: 1rem;
  margin-top:8px;
  margin-bottom:8px;
}
footer .logo {
  height: 30px;
}
footer h5 {
  color:#D1D2D7;
  font-size: 14px;
}

#gray-box {
  width:5560px;
  height:560px;
  display: block;
  position: absolute;
  background-color: #F4F4F4;
  transform: translateX(200px);
  opacity: 0;
  transition: all ease-in-out 500ms;
  border-radius: 15px;
  margin-top:150px;
  z-index: 10;
}
#gray-box.visible {
  transform: translateX(100px);
  opacity: 1;
}
.streamers {
  position: absolute;
  z-index:15;    
  display: block;
  width: 1500px;
  margin-top: 140px;
}
.streamers > h3 {
  margin-left:30px;
  opacity: 0;
  transition: all ease-in-out 500ms;
  transform: translateY(-40px);
}
.streamers > h3.visible {
  opacity: 1;
  transform: translateX(0px);
}
.streamers > .streamer {
  opacity: 0;
  margin-right: 35px;
  transform: translateX(-40px);
  transition: all ease-in-out 500ms;
  box-shadow: 0 5px 40px 20px rgba(0,0,0,0.2);
  border-radius: 15px;
}
.streamers > .streamer.visible {
  opacity: 1;
  transform: translateX(0px);
}


.feeds {
  position: absolute;
  z-index:15;    
  display: block;
  width: 1500px;
  margin-top: 0px;
  overflow: visible;
}
.feeds > .feed {
  margin-top: 20px;
  margin-right:30px;
  opacity: 1;
  transition: all ease-in-out 500ms;
  box-shadow: 0 15px 40px 20px rgba(0,0,0,0.15);
  border-radius: 15px;
}

.feeds > .feed#instagram {
  margin-top:160px;
  transform: translateY(-1000px);
}
.feeds > .feed#instagram.visible {
  transform: translateY(0px);
}

.feeds > .feed#facebook {
  transform: translateY(1000px);
}
.feeds > .feed#facebook.visible {
  transform: translateY(0px);
}

.stats {
  width:100%;
  margin-top:200px;
}
.stats td {
  width:50%;
}
.stats p {
  margin-top:0;
  font-size: 60px;
  color:#FF2E63;
  font-weight: 700;
}

#mc_embed_signup { 
  background:#fff; 
  clear:left; 
}

#mc_embed_signup div.mce_inline_error {
  background-color: transparent !important;
  color: #FF2E63 !important;
  font-weight: 400 !important;
}

#mc_embed_signup div.mce-success-response {
  background-color: transparent !important;
  color: #2611C9 !important;
  font-weight: 400 !important;
}


#mc_embed_signup .mc-field-group {
  position: relative;
}

#mc_embed_signup .mc-field-group > label {
  position: absolute;
  margin-left:30px;
  margin-top:27px;
  opacity: 0.45;
  transition: all ease-in-out 200ms;
}
#mc_embed_signup.focus .mc-field-group > label {
  margin-top:-10px;
  margin-left: 0;
  font-size: 12px;
}

.show-sm {
  display: none;
}
.more-arrow {
  margin-top:60px;
}

@media screen and (max-width: 600px) { 
  header img {
    height:35px;
  }
  header {
    height:61px;
  }
  .hero {
    min-height: calc(100vh - 61px);
    height: auto;
  }
  .hero h1 {
    margin-top:0.83em;
    font-size: 2.5rem;
    line-height: 1.2;
  }
  .hero p {
    font-size: 1.2rem;
  }
  .hero .action-area {
    margin-top:0px;
  }
  .hide-sm {
    display: none !important;
  }
  .show-sm {
    display: block;
  }
  .center-sm {
    text-align: center !important;
  }
  .left-sm {
    text-align: left !important;
  }
  .more-arrow {
    margin-top:0;
  }
  #mc-embedded-subscribe {
    margin-top:20px;
  }
  .panel .content {
    margin-top:0px !important;
    padding-bottom:50px;
  }

  section.panel {
    min-height: 100vh;
    height:auto;
  }

  #gray-box {
    width:5560px;
    height:330px;
    display: block;
    position: relative;
    background-color: #F4F4F4;
    transform: translateX(100px);
    border-radius: 15px;
    z-index: 10;
    opacity:1;
    margin-top: 60px;
  }
  .streamers {
    position: absolute;
    opacity:1;
    z-index:15;    
    display: block;
    width: 1500px;
    margin-top: -339px;
    margin-left: 100px;
  }
  .streamers > h3 {
    margin-left:10px;
    opacity:1;
    margin-bottom: 0;
  }
  .streamers > .streamer {
    height: 220px;
    margin-right: 35px;
    opacity:1;
    transform: translateX(-40px);
    box-shadow: 0 5px 40px 20px rgba(0,0,0,0.2);
    border-radius: 15px;
  }
    
  .feeds {
    position: relative;
    z-index:15;    
    display: block;
    width: 1500px;
    margin-top: 20px;
    overflow: visible;
    margin-left:40px;
  }
  .feeds > .feed {
    height: 300px;
    margin-top: 20px;
    margin-right:30px;
    opacity: 1;
    box-shadow: 0 15px 40px 20px rgba(0,0,0,0.15);
    border-radius: 15px;
  }

  .feeds > .feed#instagram {
    margin-top:70px;
    transform: translateY(0px);
  }
  .feeds > .feed#facebook {
    transform: translateY(0px);
  }
    
  .stats {
    width:100%;
    margin-top:60px;
  }
  .stats td {
    width:50%;
  }
  .stats p {
    margin-top:0;
    font-size: 40px;
    color:#FF2E63;
    font-weight: 700;
  }
  .stats h3 {
    font-size: 15px;
  }

}
